<div class="row">
  <div class="col-sm-3 offset-sm-4" style="margin-top: 4em">
    <form action="/login" method="post">
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Username" required />
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" required />
      </div>
      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary form-control">
      </div>
      {{#if message}}
        <div class="alert alert-danger">{{  message }}</div>
      {{/if}}
    </form>
  </div>
</div>